.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.table {
  display: table
}

.table-column {
  display: table-column
}

.table-row {
  display: table-row
}

.grid {
  display: grid
}

.contents {
  display: contents
}

.hidden {
  display: none
}

.h-0 {
  height: 0px
}

.flex-shrink {
  flex-shrink: 1
}

.shrink {
  flex-shrink: 1
}

.flex-grow {
  flex-grow: 1
}

.grow {
  flex-grow: 1
}

.rounded {
  border-radius: 0.25rem
}

.border {
  border-width: 1px
}

.border-none {
  border-style: none
}

.uppercase {
  text-transform: uppercase
}

.lowercase {
  text-transform: lowercase
}

.capitalize {
  text-transform: capitalize
}

.italic {
  font-style: italic
}

.underline {
  text-decoration-line: underline
}

.overline {
  text-decoration-line: overline
}
